<div class="card shadow mb-4 py-5">
    <form method="post" class="col-6 m-auto my-3">
        <input type="text" class="form-control" name="CategoryName" placeholder="Category Name" />
        <input type="submit" class="btn btn-outline-success mt-2" value="create" />
    </form>
</div>