<div class="card shadow mb-4 py-5">
    <form method="post" class="col-6 m-auto my-3">
        <input type="text" class="form-control" name="Option" placeholder="Answer option" />
        <span>
            <label style="user-select:none" for="stat">Is True</label>
            <input id="stat" type="checkbox" name="Status" />
        </span>
        <input type="submit" class="btn btn-outline-success mt-2" value="create" />
    </form>
</div>