<form method="post" enctype="multipart/form-data" class="col-6 m-auto my-3">
    <input type="text" class="form-control my-3" name="Content" placeholder="Content" />
    <select class="my-3" name="ansIds[]" multiple data-placeholder="Select Answers">
        @foreach (var ans in ViewData["Answ"] as List<Answer>)
        {
            <option value="@ans.Id">@ans.Option</option>
        }
    </select>
    <span>
        <label style="user-select:none" for="deleted">Is Deleted</label>
        <input id="deleted" type="checkbox" name="IsDeleted" />
    </span>
    <input type="submit" class="btn btn-outline-success mt-3" value="Create" />
</form>